<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>WatchFlix</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>

    <header>
        <nav>
            <a href="{{ url_for('home') }}">Início</a>
            <a href="{{ url_for('filmes') }}">Filmes</a>
            <a href="{{ url_for('minha_lista') }}">Minha Lista</a>
            <a href="{{ url_for('logout') }}">Sair</a>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <p style="text-align: center; margin-top: 2rem;">&copy; 2025 WatchFlix</p>
    </footer>

</body>
</html>
